* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Gabarito', sans-serif;
}

.navbar {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
}

.grd-green-border {
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.20turn, #0DBA4B, rgba(255, 255, 255, 0));
    border-image-slice: 1;
}

a {
    color: inherit;
    text-decoration: none;
}


.button-3 {
    appearance: none;
    background-color: #0DBA4B;
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 100;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    transition: 1s
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.button-3:hover {
    background-color: #2c974b;
}

.button-3:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

.button-3:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}


.navbar__two {
    display: flex;
    column-gap: 20px;
    align-items: center;
    font-weight: lighter;
}

.navbar__three {
    display: flex;
    column-gap: 20px;
    align-items: center;

}

.navbar__three h3,
.navbar__two h3 {
    font-weight: lighter;

}

.s1 {
   margin-top: 40px;
   
}


.btn-grad {
    background-image: linear-gradient(to right, #F09819 0%, #EDDE5D 51%, #F09819 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.s1_one_title
{
    font-size: 50px;
}

@media screen and (max-width:1000px) {
    .s1_one_title
{
    font-size: 32px;
}
}

.line-1{
    position: relative;
    top: 50%;  
    margin: 0 auto;
    width: 17em;
    border-right: 2px solid #29f463;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 0s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 17em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: #298e46;}
  to{border-right-color: transparent;}
}

.s2{
    display: flex;
    justify-content: space-between;
    
}

.social-media-2{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.s-m-card{
    background-color: white;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    padding: 20px;
    position: relative;
    right: 0px;
    color: black;
    display: flex;
    align-items: center;
    gap: 10px;
}

.s-m-card img{
    width: 40px

}

.social-media{

}

.social-media{
    margin-left: 50px;
    margin-right: 50px;
}

.gradient-button-1{
    background-color: transparent;
    border: solid #0DBA4B 2px;
    margin-top: 25px;
}

@keyframes bubble {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    50% {
      transform: translateY(-20px);
      opacity: 0.8;
    }
  
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  .bub{
    position: absolute;
    animation: bubble 1.5s ease-in-out infinite;
  }

  .container-one{
    background-color: black;
    color: white;
    padding-bottom: 50px;
  }

  .container-2
  {
    display: flex;
    justify-content: center;
  }
  .s5{
    width: 80%;
    border: solid black 5px;
    background-color: black;
  }

  .left{
    width: 50%;
    height: 100%;
  }

  .left img{
    width: 100%;
    height: 100%;
  }